#about {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding-top: 200px;
  z-index: 1;
}

.about-container{
  border-radius: 25px;
  background: rgba(12, 12, 12, 0.60);
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 480px;
}

.about-header{
    font-family: "Quicksand", sans-serif;
    color: var(--lightest-slate);
    font-size: 40px;
    font-weight: 700px;
    margin-top: 20px;
    margin-left: 30px;
    z-index: 1;
}

.about-content{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  max-height: 120%;
  overflow: auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  margin-right: 50px;
}

.about-logo{
  width: 20%;
  margin-left: 50px;
  margin-right: 50px;
}

.about-desc{
  font-family: "Quicksand", sans-serif;
  color: var(--slate);
  font-size: 22px;
  text-align: left;
  max-height: 520px;
}

.about-techstack{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0px;
  margin-left: 20px;
}

.about-techitem{
  border-radius: 20px;
  list-style: none;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--green-bright);
  text-align: center;
}

.about-techitem:hover{
  color: var(--lightest-slate);
  text-shadow: 0 0 20px var(--lightest-slate);
  transform: translate(0,-10px);
}

.techitem-text{
  color: var(--green-bright)
}

.stars{
    animation: fade-in 3s;
    color: var(--green-bright)
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(63, 85, 129, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(153, 166, 189, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .about-desc {
    font-size: 18px;
    text-align: justify;
  }

  .about-content {
    display: unset;
  }
}